.header {
  overflow: hidden;
  background-color: #7176bb;
  padding: 15px 20px;
}

.header a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 6px;
    float: left;
    color: black;
    text-align: center;
}

.header a:hover {
  background-color: rgb(204, 200, 200);
}

.header a.active {
  background-color:rgb(204, 200, 200);
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
