.register_ok > h2 {
    color: rgb(60, 223, 60);
}

.register_false > p {
    color: rgb(223, 79, 60);
}

.login-register-form-master {
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-register-form-slave {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    width: 75%;
    height: 600px;
}

.login-form {
    width: 80%;
}

.register-form {
    width: 80%;
}

.register-form-form-parent {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.register-form-form {
    background-color: #cfd7e2;
    border: none;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    height: 25px;
    padding: 6px 20px;
}

.register-form-form-invalid {
    background-color: #ff000086;
    border: solid;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    height: 25px;
    padding: 6px 20px;
}